<div class="row">
  <div class="col-md-6">
    <h2>
      {{instrument.name}}
      <a class="text-smaller" ui-sref="instrument.list.preview({ 'id': instrument._id })">Back</a>
    </h2>
    <textarea ui-codemirror="editorOptions" ng-model="instrument.code"></textarea>
    <div class="action-bar">
      <button class="btn btn-primary" ng-click="save()">Save</button>
      <button class="btn btn-danger" ng-click="delete()">Delete</button>
    </div>
  </div>
  <div class="col-md-6">
    <pre>{{instrument.code}}</pre>
  </div>
</div>
