<div class="row app-panel instrument-edit">
  <div class="col-md-6 app-panel">
    <div class="header-panel">
      <h3>{{instrument.name}}</h3>
    </div>
    <div class="editor-panel clear">
      <textarea ui-codemirror="editorOptions" ng-model="instrument.code"></textarea>
    </div>
    <div class="action-bar">
      <button class="btn btn-primary" ng-click="save()">Save</button>
      <a class="btn" ui-sref="instrument.list.preview({id: instrument._id})">Back to list</a>
      <button class="pull-right btn btn-danger" ng-click="delete()">Delete</button>
    </div>
  </div>
  <div class="col-md-6 col-no-pad">
    <div class="instrument-editor app-panel">
      <instrument-preview radius="30" instrument="instrument" />
    </div>
  </div>
</div>
