.instrument-edit {
  .header-panel {
    padding: $padding-base-vertical;
  }
  .editor-panel {
    height: 100%;
    min-height: 570px;
  }
  .action-bar {
    min-height: 37px;
    padding: 12px;
  }
  .instrument-preview {
    width: 100%;
    height: 100%;
  }
  .tool-panel {
    height: 5%;
  }
  .preview-panel {
    background: #333;
    height: 200px;
  }
}
