<div class="instrument-editor app-panel">
  <div class="key-panel container-fluid">
    <div class="row">
      <div class="col-sm-6 col-no-pad keylist-panel">
        <div class="tool-panel">
          <button ng-click="addKey()" class="btn btn-default btn-sm">New Key</button>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="key in instrument.keys" ng-class="{active: isSelected(key)}" >
            <a ng-click="select(key)">{{key.name}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-no-pad keyedit-panel">
        <div class="panel panel-default">
          <div class="panel-heading">Edit {{ selectedKey.name }}</div>
          <div class="panel-body">
            <label>name</label>
            <input type="text" class="form-control" ng-model="selectedKey.name" />
            <label>identifier</label>
            <input class="form-control" type="text" ng-model="selectedKey.id" /
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
