$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootswatch-scss/cyborg/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/bootstrap";
@import "bootswatch-scss/cyborg/bootswatch";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'instrument/edit/edit.scss';
@import 'instrument/instrument.scss';
@import 'instrument/list/add/add.scss';
@import 'instrument/list/list.scss';
@import 'instrument/list/preview/preview.scss';
@import 'main/main.scss';
@import 'util.scss';
@import 'modal/modal.scss';
// endinjector
