$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootswatch-scss/cyborg/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootswatch-scss/cyborg/bootswatch";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.col-no-pad {
  padding: 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background: $body-bg no-repeat center center fixed;
  min-height:100%;
}

.app-bar {
  margin: 0;
  min-width: 450px;
}

.app-body {
  position: fixed;
  width: 100%;
  top: $navbar-height;
  bottom: 0;
}

.CodeMirror, .CodeMirror-scroll {
  height: 100%;
}
.app-panel {
  height: 100%;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'instrument/edit/edit.scss';
@import 'instrument/instrument.scss';
@import 'instrument/list/add/add.scss';
@import 'instrument/list/list.scss';
@import 'instrument/list/preview/preview.scss';
@import 'instrumentPreview/instrumentPreview.scss';
@import 'main/main.scss';
@import 'util.scss';
@import 'modal/modal.scss';
// endinjector
